In [ ]:
import csv
import torch
import numpy as np
import pandas as pd
import os
import tqdm

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#read the datasets
path_train= '/content/drive/MyDrive/NLP/Train.csv'
path_valid = '/content/drive/MyDrive/NLP/Valid.csv'
path_test = '/content/drive/MyDrive/NLP/Test.csv'
train_data = pd.read_csv(path_train)
validation_data = pd.read_csv(path_valid)
test_data = pd.read_csv(path_test)

In [ ]:
train_data.head()

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1

In [ ]:
#count the number of the classes
train_data.label.value_counts()

0    20019
1    19981
Name: label, dtype: int64

In [ ]:
# Check  if there are some missing vales
train_data.isna().sum()

text     0
label    0
dtype: int64

In [ ]:

#print the shape of the dataferame befor removing duplicates
print("number of train data: ", train_data.shape)

Number of duplicates in the train dataset: 277
number of train data:  (40000, 2)

In [ ]:
# remove  duplicates
train_data.drop_duplicates(keep='first', inplace=True)

In [ ]:
# Print the shape of dataset after removing duplicate rows
print('Dataset shape after removing duplicates: {}'.format(train_data.shape))

Dataset shape after removing duplicates: (39723, 2)

In [ ]:
# Save the new dataset as a CSV file
path = '/content/drive/MyDrive/NLP/'
train_data.to_csv(os.path.join(path, 'dataset_raw.csv'), index=False)

In [ ]:
validation_data.head()

                                                text  label
0  It's been about 14 years since Sharon Stone aw...      0
1  someone needed to make a car payment... this i...      0
2  The Guidelines state that a comment must conta...      0
3  This movie is a muddled mish-mash of clichés f...      0
4  Before Stan Laurel became the smaller half of ...      0

In [ ]:
#ckeck if there are any missing value in validation dataset
validation_data.isna().sum()

text     0
label    0
dtype: int64

In [ ]:
# print the shape of the validation data 
print('Number of data points in validation dataset: ', validation_data.shape)

Number of data points in validation dataset:  (5000, 2)

In [ ]:
# Drop duplicates from validation data
validation_data.drop_duplicates(keep='first', inplace=True)
# Save raw dataset as a CSV file
path = '/content/drive/MyDrive/NLP/'
validation_data.to_csv(os.path.join(path, 'validation_raw.csv'), index=False)

In [ ]:
# Drop duplicates from test data
test_data.drop_duplicates(keep='first', inplace=True)
# Save raw dataset as a CSV file
path = '/content/drive/MyDrive/NLP/'
test_data.to_csv(os.path.join(path, 'test_raw.csv'), index=False)

In [ ]:
#read the preprocessed csv files
path_to_train = '/content/drive/MyDrive/NLP/dataset_raw.csv'
path_to_valid =  '/content/drive/MyDrive/NLP/validation_raw.csv'
path_to_test =  '/content/drive/MyDrive/NLP/Test.csv'
df = pd.read_csv(path_to_train)
df_valid = pd.read_csv(path_to_valid)
df_test = pd.read_csv(path_to_test)

In [ ]:
print(df['text'][0])

I grew up (b. 1965) watching and loving the Thunderbirds. All my mates at school watched. We played "Thunderbirds" before school, during lunch and after school. We all wanted to be Virgil or Scott. No one wanted to be Alan. Counting down from 5 became an art form. I took my children to see the movie hoping they would get a glimpse of what I loved as a child. How bitterly disappointing. The only high point was the snappy theme tune. Not that it could compare with the original score of the Thunderbirds. Thankfully early Saturday mornings one television channel still plays reruns of the series Gerry Anderson and his wife created. Jonatha Frakes should hand in his directors chair, his version was completely hopeless. A waste of film. Utter rubbish. A CGI remake may be acceptable but replacing marionettes with Homo sapiens subsp. sapiens was a huge error of judgment.

In [ ]:
print(df_valid['text'][0])

It's been about 14 years since Sharon Stone awarded viewers a leg-crossing that twisted many people's minds. And now, God knows why, she's in the game again. "Basic Instinct 2" is the sequel to the smash-hit erotica "Basic Instinct" featuring a sexy Stone and a vulnerable Michael Douglas. However, fans of the original might not even get close to this one, since "Instinct 2" is painful film-making, as the mediocre director Michael Caton-Jones assassinates the legacy of the first film.<br /><br />The plot of the movie starts when a car explosion breaks in right at the beginning. Catherine Tramell (Sharon Stone, trying to look forcefully sexy) is a suspect and appears to be involved in the murder. A psychiatrist (a horrible David Morrisey) is appointed to examine her, but eventually falls for an intimate game of seduction.<br /><br />And there it is, without no further explanations, the basic force that moves this "Instinct". Nothing much is explained and we have to sit through a sleazy, C-class erotic film. Sharon Stone stars in her first role where she is most of the time a turn-off. Part of it because of the amateurish writing, the careless direction, and terrifyingly low chemistry. The movie is full of vulgar dialogues and even more sexuality (a menage a trois scene was cut off so that this wouldn't be rated NC-17) than the first entrance in the series. "Instinct" is a compelling torture.<br /><br />To top it off, everything that made the original film a guilty pleasure is not found anywhere in the film. The acting here is really bad. Sharon Stone has some highlights, but here, she gets extremely obnoxious. David Morrisey stars in the worst role of his life, and seems to never make more than two expressions in the movie- confused and aroused. "Instinct 2" is a horrible way to continue an otherwise original series, that managed to put in thriller with erotica extremely well. Paul Verhoeven, how I miss you....<br /><br />"Basic Instinct 2" never sounded like a good movie, and, indeed, it isn't. Some films should never get out of paper, and that is the feeling you get after watching this. Now, it is much easier to understand why Douglas and David Cronenberg dropped out, and why Sharon Stone was expecting a huge paycheck for this......-----3/10